header {
    width: 100%;
    height: 28px 8%;
}

#navbar {
    width: 100%;
    margin-top: 40px;
}

#nav_logo {
    font-size: 24px;
    color: #F3800D;
    position: absolute;
    margin-left: 66px;
}

#nav_list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 48px;

}

.nav-item {
    margin-top: 6px;
}

.nav-item a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}